$colorGamepad:          rgba(160, 160, 160,1.0);
$colorGamepadActive:    rgba(130, 130, 130, 1.0);
$colorGamepadBorder:    rgba(0, 0, 0, 1.0);

$colorTransparent:      rgba(0, 0, 0, 0.0);
$colorBackground:       rgba(200, 200, 200, 1.0);

html {
    background-color: $colorBackground;
}

h1 {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: sans;
}